// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.letter-design{
  background:#3298DB;
  color:white;
  padding: 20px;
  margin: 5px;
}

#score{
  margin-bottom: 30px;
}

p{
  margin-top: 30px;
}
